body {
  background: var(--white-standard-color);
  margin: 0;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --white-standard-color: #fff;
  --white-standard-color_hover: #fff;
  --white_standard-color_text: #fff;
  --white_standard-color_text-hover: #fff;
  --white-dark-color: #F5F4FA;
  --white-dark-color_text: #F5F4FA;
  --black-standard-color_text: #212121;
  --blue-light-color: #2196F3;
  --blue-light-color_text-hover: #2196F3;
  --blue-color-button-modal: #188CE8;
  --gray-dark-color_text: #757575;
  --black-light-color: #2F303A;
  --gray-color_line: #ECECEC;
  --gray-light-color_border: #EEE;
  --gray-light-color_border-hover: #EEE;
}

.subscribe-form__button, .project__overley, .navigtion-console__list, .console__content-box, .console, .main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form__button, .project__overley, .navigtion-console__list, .console__content-box, .console, .main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__image {
  width: 145px;
  height: 31px;
  flex-shrink: 0;
}

/*Section 1 header-console */
.header-console {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 0 25px 0;
}
.header-console__content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 93px;
}

.menu-icon {
  display: none;
}

.menu-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.navigation__item:nth-child(2) .navigation__link {
  display: block;
  transform: scale(1.1);
  color: var(--blue-light-color_text-hover);
}
.navigation__item:nth-child(2) .navigation__link::before {
  content: "";
  position: absolute;
  bottom: -29px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-light-color);
}
.navigation__link {
  color: var(--black-standard-color_text);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
}
.navigation__link:hover {
  display: block;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out 0.05s;
  color: var(--blue-light-color_text-hover);
}
.navigation__link:hover::before {
  content: "";
  position: absolute;
  bottom: -29px;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: var(--blue-light-color);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.contact__link {
  color: var(--gray-dark-color_text);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.contact__link:hover {
  transition: all 0.2s ease;
  color: var(--blue-light-color_text-hover);
}

.nav-social-networks {
  display: none;
}

@media (max-width: 1024px) {
  .header-console {
    padding: 26px 0;
  }
  .header-console__navigation-container {
    gap: 88px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
  .contact__link {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .header-console {
    padding: 16px 0;
  }
  .header-console__content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon {
    display: block;
    width: 24px;
    height: 16px;
    position: relative;
    z-index: 20;
    cursor: pointer;
  }
  .menu-icon span, .menu-icon::before, .menu-icon::after {
    position: absolute;
    height: 3px;
    width: 100%;
    transition: all 0.3s linear;
    background-color: black;
  }
  .menu-icon::before, .menu-icon::after {
    content: "";
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu-icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu-icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .menu-body {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    background-color: var(--white-standard-color);
    transform: translate(-100%, 0px);
    transition: right 0.3s ease 0s;
    overflow: auto;
  }
  .menu-body._active {
    transform: translate(0px, 0px);
  }
  body._lock {
    overflow: hidden;
  }
  .navigation {
    padding: 48px 0 20px 40px;
  }
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 32px;
  }
  .navigation__item:nth-child(2) .navigation__link {
    display: block;
    color: var(--blue-light-color_text-hover);
  }
  .navigation__item:nth-child(2) .navigation__link::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue-light-color);
  }
  .navigation__link {
    color: var(--black-standard-color_text);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .navigation__link:hover {
    display: block;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0.05s;
    color: var(--blue-light-color_text-hover);
  }
  .navigation__link:hover::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background-color: var(--blue-light-color);
  }
  .info {
    padding: 0 0 48px 40px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 64px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .contact__link {
    color: var(--gray-dark-color_text);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .contact__link:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
    color: var(--blue-light-color_text-hover);
  }
  .icon-envelope,
  .icon-smartphone {
    display: none;
  }
  .nav-social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .nav-social-networks__link {
    color: var(--blue-light-color_text-hover);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }
  .nav-social-networks__link:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
  }
  .nav-social-networks__line {
    width: 1px;
    height: 22px;
    background: rgba(33, 33, 33, 0.2);
  }
}
@media (max-width: 480px) {
  .nav-social-networks__link {
    font-size: 15px;
  }
}
/*Section 1 header-console end */
.main {
  padding: 94px 0;
  flex-direction: column;
  gap: 50px;
}

/* Section 2 navigtion-console */
.console {
  margin: 0;
  padding: 0;
}
.navigtion-console__list {
  flex-wrap: wrap;
  gap: 8px;
}
.navigtion-console__link {
  border-radius: 4px;
  background: var(--white-dark-color_text);
  color: var(--black-standard-color_text);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding: 6px 22px 6px 22px;
}
.navigtion-console__link:hover {
  color: var(--white-standard-color_hover);
  border-radius: 4px;
  background: var(--blue-light-color_text-hover);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

@media (max-width: 480px) {
  .navigtion-console__list {
    gap: 20px;
  }
}
/* Section 2 navigtion-console end */
/* Section 3 projects */
.projects-gallery__content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project:nth-child(1) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_1.png"), lightgray 50%/cover no-repeat;
}
.project:nth-child(2) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_2.png"), lightgray 0px -45.881px/100% 182.783% no-repeat;
}
.project:nth-child(3) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_3.png"), lightgray 50%/cover no-repeat;
}
.project:nth-child(4) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_4.png"), lightgray 50%/cover no-repeat;
}
.project:nth-child(5) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_5.png"), lightgray 50%/cover no-repeat;
}
.project:nth-child(6) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_6.png"), lightgray 50%/cover no-repeat;
}
.project:nth-child(7) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_7.png"), lightgray 50%/cover no-repeat;
}
.project:nth-child(8) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_8.png"), lightgray 50%/cover no-repeat;
}
.project:nth-child(9) .project__image {
  background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_9.png"), lightgray 50%/cover no-repeat;
}
.project__container {
  width: 368px;
  flex-shrink: 0;
  border: 1px solid var(--gray-light-color_border);
  background: var(--white-standard-color);
  padding-bottom: 18px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.project__container:hover {
  border: 1px solid var(--gray-light-color_border-hover);
  background: var(--white-standard-color_hover);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
}
.project__container:hover .project__image .project__overley {
  transform: translateY(0);
}
.project__image {
  width: 100%;
  height: 294px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.project__overley {
  width: 100%;
  height: 294px;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(120%);
  transition: transform 0.5s ease;
}
.project__overley-paragraf {
  width: 322px;
  color: var(--white_standard-color_text);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}
.project__text-box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 4px;
  padding-left: 24px;
}
.project__title {
  color: var(--black-standard-color_text);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}
.project__paragraf {
  color: var(--gray-dark-color_text);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .project:nth-child(1) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_1@2x.png");
  }
  .project:nth-child(2) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_2@2x.png");
  }
  .project:nth-child(3) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_3@2x.png");
  }
  .project:nth-child(4) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_4@2x.png");
  }
  .project:nth-child(5) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_5@2x.png");
  }
  .project:nth-child(6) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_6@2x.png");
  }
  .project:nth-child(7) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_7@2x.png");
  }
  .project:nth-child(8) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_8@2x.png");
  }
  .project:nth-child(9) .project__image {
    background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_9@2x.png");
  }
}
@media (max-width: 1024px) {
  .project__container {
    width: 352px;
  }
  .project__overley-paragraf {
    width: 306px;
  }
}
@media (max-width: 768px) {
  .project__container {
    width: 450px;
  }
  .project__overley-paragraf {
    width: 402px;
  }
}
@media (max-width: 480px) {
  .project__container {
    width: 270px;
  }
  .project__overley-paragraf {
    width: 207px;
  }
}
/* Section 3 projects end */
.social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* Section 4 footer-info */
.footer-info {
  margin: 0;
  padding: 60px 0;
  background: var(--black-light-color);
}
.footer-info__content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info__about-as-section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 70px;
  margin: 0;
  padding: 0;
}
.footer-info__info-box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.our-contacts {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 9px;
}
.our-contacts__adress {
  color: var(--white_standard-color_text);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.our-contacts__contact {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 9px;
}
.our-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.our-contacts__link:hover {
  color: var(--blue-light-color_text-hover);
  transform: translateX(7px);
  transition: all 0.2s linear;
}

.subscribe-box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.subscribe-box__title {
  color: var(--white_standard-color_text);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.social-networks__link--hover:hover {
  display: block;
  transform: translateY(5px);
  transition: all 0.2s linear;
}

.subscribe-form {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 12px;
}
.subscribe-form__title {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  color: var(--white_standard-color_text);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.subscribe-form__input {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0px 0px 0px 16px;
  outline: none;
}
.subscribe-form__input:focus-visible {
  outline: 1px solid var(--blue-color-button-modal);
  color: var(--white_standard-color_text);
}
.subscribe-form__button {
  width: 200px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--blue-light-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white_standard-color_text);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  gap: 10px;
  outline: none;
  border: none;
}
.subscribe-form__button:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 46.35%, rgba(0, 0, 0, 0) 100%), var(--blue-light-color);
  transform: scale(1.05);
  transition: all 0.2s linear;
}

@media (max-width: 1024px) {
  .footer-info__content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }
  .footer-info__about-as-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 165px;
  }
  .footer-info__info-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .our-contacts__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .subscribe-box {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .subscribe-form__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribe-form__input {
    width: 450px;
    height: 50px;
  }
  .subscribe-form__button {
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .footer-info__about-as-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (max-width: 480px) {
  .subscribe-form__input {
    width: 250px;
  }
}
/* Section 4 footer-info end */
@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
  .logo__image {
    width: 134px;
    height: 28px;
    flex-shrink: 0;
  }
  .main {
    padding: 60px 0;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 480px;
  }
  .logo__image {
    width: 134px;
    height: 28px;
    flex-shrink: 0;
  }
}
@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}