.footer-info {
    margin: 0;
    padding: 60px 0;
    background: var(--black-light-color);
    &__content-box {
        @include flex(space-between, center);
    }
    &__about-as-section {
        @include flex(start, center);
        gap: 70px;
        margin: 0;
        padding: 0;
    }
    &__info-box {
        @include flex(center, start);
        flex-direction: column;
        gap: 20px;
    }
}
.our-contacts {
    @include flex(center, start);
    flex-direction: column;
    gap: 9px;
    &__adress {
        color: var(--white_standard-color_text);
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
    &__contact {
        @include flex(center, start);
        flex-direction: column;
        gap: 9px;
    }
    &__link {
        color: rgba(255, 255, 255, 0.60);
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        &:hover {
            color: var(--blue-light-color_text-hover);
            transform: translateX(7px);
            transition: all 0.2s linear;
        }
    }
}
.subscribe-box {
    @include flex(center, start);
    flex-direction: column;
    gap: 20px;
    &__title {
        color: var(--white_standard-color_text);
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }
}
.social-networks__link--hover:hover  {
    display: block;
    transform: translateY(5px);
    transition: all 0.2s linear;
}
.subscribe-form {
    @include flex(start, end);
    gap: 12px;
    &__title {
        @include flex(center, start);
        flex-direction: column;
        gap: 20px;
        color: var(--white_standard-color_text);
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }
    &__input {
        width: 358px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 0px 0px 0px 16px;
        outline: none;
        &:focus-visible {
            outline: 1px solid var(--blue-color-button-modal);
            color: var(--white_standard-color_text);
        }
    }
    &__button {
        width: 200px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--blue-light-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--white_standard-color_text);
        text-align: center;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        @extend %position-center;
        gap: 10px;
        outline: none;
        border: none;
        &:hover {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 46.35%, rgba(0, 0, 0, 0.00) 100%), var(--blue-light-color);
            transform: scale(1.05);
            transition: all 0.2s linear;
        }
    }
}
@media (max-width: 1024px) {
    .footer-info {
        &__content-box {
            @include flex(center, center);
            flex-direction: column;
            gap: 60px;
        }
        &__about-as-section {
            @include flex(space-between, start);
            gap: 165px;
        }
        &__info-box {
            @include flex(center, center);
        }
    }
    .our-contacts {
        @include flex(center, center);
        gap: 8px;
        &__contact {
            @include flex(center, center);
            gap: 8px;
        }
    }
    .subscribe-box {
        padding-top: 5px;
        @include flex(center, center);
    }
    .subscribe-form {
        @include flex(center, center);
        flex-direction: column;
        gap: 20px;
        &__title {
            @include flex(center, center);
        }
        &__input {
            width: 450px;
            height: 50px;
        }
        &__button {
            gap: 12px;
        }
    }
}