.projects-gallery {
    &__content-box {
        @include flex(space-between, center);
        flex-wrap: wrap;
        gap: 30px;
    }
}
.project {
    &:nth-child(1) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_1.png"), lightgray 50% / cover no-repeat;
    }
    &:nth-child(2) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_2.png"), lightgray 0px -45.881px / 100% 182.783% no-repeat;
    }
    &:nth-child(3) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_3.png"), lightgray 50% / cover no-repeat;
    }
    &:nth-child(4) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_4.png"), lightgray 50% / cover no-repeat;
    }
    &:nth-child(5) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_5.png"), lightgray 50% / cover no-repeat;
    }
    &:nth-child(6) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_6.png"), lightgray 50% / cover no-repeat;
    }
    &:nth-child(7) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_7.png"), lightgray 50% / cover no-repeat;
    }
    &:nth-child(8) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_8.png"), lightgray 50% / cover no-repeat;
    }
    &:nth-child(9) &__image {
        background: url("../portfolio-page/src/image/raster-image/section3_projects/port-img_9.png"), lightgray 50% / cover no-repeat;
    }
    &__container {
        width: 368px;
        flex-shrink: 0;
        border: 1px solid var(--gray-light-color_border);
        background: var(--white-standard-color);
        padding-bottom: 18px;
        @include flex(start, start);
        flex-direction: column;
        gap: 20px;
        &:hover {
            border: 1px solid var(--gray-light-color_border-hover);
            background: var(--white-standard-color_hover);
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
            transition: 0.2s;
        }
    }
    &__container:hover &__image &__overley {
        transform: translateY(0);
    }
    &__image {
        width: 100%;
        height: 294px;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }
    &__overley {
        width: 100%;
        height: 294px;
        position: absolute;
        @extend %position-center;
        background: rgba(33, 150, 243, 0.90);
        transform: translateY(120%);
        transition: transform 0.5s ease;
    }
    &__overley-paragraf {
        width: 322px;
        color: var(--white_standard-color_text);
        font-family: $main-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.54px;
    }
    &__text-box {
        @include flex(center, start);
        flex-direction: column;
        gap: 4px;
        padding-left: 24px;
    }
    &__title {
        color: var(--black-standard-color_text);
        font-family: $main-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; 
        letter-spacing: 1.08px;
    }
    &__paragraf {
        color: var(--gray-dark-color_text);
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.48px;
    }
}
@media (max-width: 1024px) {
    .project {
        &__container {
            width: 352px;
        }
        &__overley-paragraf {
            width: 306px;
        }
    }
}