.achievement {
    margin: 0;
    padding: 94px 0;
    &__content-box {
        @include flex(space-between,  normal);
    }
}
.achievement-card {
    @include flex(center,  flex-start);
    flex-direction: column;
    gap: 10px;
    &::before {
        content: "";
        width: 270px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--white-dark-color);
        background-repeat: no-repeat;
        background-position: center;
        background-size:70px 70px;
        margin-bottom: 30px;
    }
    &:nth-child(1)::before {
        background-image: url("../src/image/raster-image/section3_achievement/antenna1.png");
    }
    &:nth-child(2)::before {
        background-image: url("../src/image/raster-image/section3_achievement/clock1.png");
    }
    &:nth-child(3)::before {
        background-image: url("../src/image/raster-image/section3_achievement/diagram1.png");
    }
    &:nth-child(4)::before {
        background-image: url("../src/image/raster-image/section3_achievement/astronaut1.png");
    }
    &__title {
        color: var(--black-standard-color_text);
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }
    &__paragraf {
        width: 270px;
        color: var(--gray-dark-color_text);
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
}

// Tablet
@media (max-width: 1024px) {
    .achievement {
        padding: 60px 0;
        &__content-box {
            @include flex(center,  normal);
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    .achievement-card {
        &::before {
            content: "";
            width: 354px;
            height: 120px;
        }
        &__paragraf {
            width: 354px;
        }
    }
}
@media (max-width: 768px) {
    .achievement {
        padding: 60px 0;
        &__content-box {
            @include flex(center,  normal);
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    .achievement-card {
        @include flex(center, center);
        &::before {
            content: "";
            width: 450px;
            height: 120px;
        }
        &__paragraf {
            width: 354px;
        }
    }
}
@media (max-width: 500px) {
    .achievement {
        padding: 60px 0;
        &__content-box {
            @include flex(center,  normal);
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    .achievement-card {
        @include flex(center, center);
        &::before {
            content: "";
            width: 270px;
            height: 120px;
        }
        &__paragraf {
            width: 270px;
        }
    }
}