%position-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.services {
    margin: 0;
    padding: 200px 0px;
    background: rgba(47, 48, 58, 0.40);
    background-image: url("../src/image/raster-image/section2_services/background_one.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__content-box {
        @extend %position-center;
        flex-direction: column;
        gap: 30px;
    }
    &__title {
        width: 696px;
        color: var(--white_standard-color_text);
        text-align: center;
        font-family: $main-font;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        text-transform: uppercase;
    }
    &__button-box {
        @extend %position-center; 
    }
    &__button {
        padding: 10px 32px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--blue-light-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--white_standard-color_text);
        text-align: center;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        animation: services 1s linear infinite;
        outline: none;
        border: none;
    }
    &__button--movement:hover {
        animation: none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 46.35%, rgba(0, 0, 0, 0.00) 100%), var(--blue-light-color);
    }
}
@keyframes services {
    0% {
        transform: scale(1);
        transition: all 0.5s linear;
    }
    25% {
        transform: rotate(1deg);
        transition: all 0.5s linear;
    }
    50% {
        transform: rotate(-1deg);
        transition: all 0.5s linear;
    }
    75% {
        transform: scale(1.03);
        transition: all 0.5s linear;
    }
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 528px;
    height: 581px;
    flex-shrink: 0;
    position: fixed;
    z-index: 20;
    top: 40px;
    background-color: white;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    &__title {
        color: var(--black-standard-color_text);
        text-align: center;
        font-family: $main-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
    }
    &__button {
        padding: 10px 52px;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--blue-color-button-modal);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--white_standard-color_text);
        text-align: center;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        outline: none;
        border: none;
        &:hover {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 46.35%, rgba(0, 0, 0, 0.00) 100%), var(--blue-light-color);
            transform: scale(1.05);
            transition: all 0.2s linear;
        }
    }
}
.modal .flex {
    @extend %position-center;
}
.modal-form {
    @extend %position-center;
    flex-direction: column;
    gap: 30px;
    &__content-box {
        @extend %position-center;
        flex-direction: column;
        gap: 20px;
    }
    &__info-box {
        @extend %position-center;
        flex-direction: column;
        gap: 10px;
    }
    &__signature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 4px;
        color: var(--gray-dark-color_text);
        font-family: $main-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
    }
    &__input {
        width: 406px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        font-size: 16px;
        padding-left: 42px;
        background-size: 18px 18px;
        background-position: 11px 12px;
        background-repeat: no-repeat;
        &:focus-visible {
            outline:  1px solid var(--blue-light-color);
        }
    }
    &__signature:nth-child(1) > &__input {
        background-image: url("../src/image/vector-image/icomoon-svg/SVG/person.svg");
    }
    &__signature:nth-child(1) > &__input:focus-visible {
        background-image: url("../src/image/vector-image/icomoon-svg/SVG/person-color.svg");
    }
    &__signature:nth-child(2) > &__input {
        background-image: url("../src/image/vector-image/icomoon-svg/SVG/phone.svg");
    }
    &__signature:nth-child(2) > &__input:focus-visible {
        background-image: url("../src/image/vector-image/icomoon-svg/SVG/phone-color.svg");
    }
    &__info-box:nth-child(3) > &__info-form {
        background-image: url("../src/image/vector-image/icomoon-svg/SVG/email.svg");
    }
    &__signature:nth-child(3) > &__input:focus-visible {
        background-image: url("../src/image/vector-image/icomoon-svg/SVG/email-color.svg");
    }
    &__input-commit {
        width: 416px;
        height: 96px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        color: rgba(117, 117, 117, 0.50);
        font-family: $main-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        padding: 12px 16px;
        &:focus-visible {
            outline:  1px solid var(--blue-light-color);
            color: var(--black-standard-color_text);
        }
    }
    &__checkbox-text {
        @extend %position-center;
        gap: 7px;
        color: var(--gray-dark-color_text);
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
    &__checkbox {
        width: 16px;
        height: 15px;
        flex-shrink: 0;
    }
    &__link {
        color: var(--blue-light-color);
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-decoration-line: underline;
        &:hover {
            color: var(--black-standard-color_text);
        }
    }
}
.hidden {
    display: none;
}
.btn-close {
    @extend %position-center;
    text-align: center;
    align-self: self-start;
    background: var(--white-standard-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 8px;
    right: 8px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 17;
}