.user {
    margin: 0;
    padding: 94px 0;
    @extend %position-center;
    &__content-box {
        @include flex(center, safe);
        flex-direction: column;
        gap: 50px;
    }
}
.company {
    @include flex(space-between, center);
    flex-wrap: wrap;
    &__link:hover {
        transform: scale(1.2);
        transition: all 0.2s linear;
    }
}