%position-center {
    @extend %position-center;
}
.work {
    margin: 0;
    padding-bottom: 94px;
    &__content-box {
        @extend %position-center;
        flex-direction: column;
        gap: 50px;
    }
    &__card-box {
        @include flex(space-between, center);
        flex-wrap: wrap;
        gap: 30px;
    }
}
.work-card {
    &__box--animation {
        width: 370px;
        height: 294px;
        position: relative;
    }
    &__image {
        width: 370px;
        height: 294px;
        flex-shrink: 0;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0px;
        left: 0px;
        z-index: 3;
        overflow: hidden;
        &::before {
            content: "";
            width: 370px;
            height: 70px;
            flex-shrink: 0;
            background: rgba(47, 48, 58, 0.80);
            @extend %position-center;
            position: absolute;
            transform: translateY(294px);
            transition: transform 0.2s linear;
            color: var(--white_standard-color_text-hover);
            text-align: center;
            font-family: $main-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.42px;
            text-transform: uppercase;
        }
    }
    &:nth-child(1) > &__box--animation > &__image {
        background-image: url("../src/image/raster-image/section4_work/img1.jpg");
    }
    &:nth-child(2) > &__box--animation > &__image {
        background-image: url("../src/image/raster-image/section4_work/img2.jpg");
    }
    &:nth-child(3) > &__box--animation > &__image {
        background-image: url("../src/image/raster-image/section4_work/img3.jpg");
    }
    &:nth-child(1) > &__box--animation > &__image::before {
        content: "Десктопні додатки";
        animation: work-hover 6s linear 0s infinite alternate backwards;
    }
    &:nth-child(2) > &__box--animation > &__image::before {
        content: "Мобільні додатки";
        animation: work-hover 6s linear 2s infinite alternate backwards;
    }
    &:nth-child(3) > &__box--animation > &__image::before {
        content: "Дизайнерські рішення";
        animation: work-hover 6s linear 4s infinite alternate backwards;
    }
}
@keyframes work-hover {
    0% {
        transform: translateY(224px);
    }
    33.3% {
        transform: translateY(224px);
    }
    66.6% {
        transform: translateY(294px);
    }
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .work-card {
        &:nth-child(1) > &__box--animation > &__image {
            background-image: url("../src/image/raster-image/section4_work/img1@2x.jpg");
        }
        &:nth-child(2) > &__box--animation > &__image {
            background-image: url("../src/image/raster-image/section4_work/img2@2x.jpg");
        }
        &:nth-child(3) > &__box--animation > &__image {
            background-image: url("../src/image/raster-image/section4_work/img3@2x.jpg");
        }
    }
}
// Tablet
@media (max-width: 1024px) {
    .work {
        display: none;
    }
}