.achievement {
    margin: 0;
    padding: 94px 0;
    &__content-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        &::before {
            content: "";
            width: 270px;
            height: 120px;
            flex-shrink: 0;
            border-radius: 4px;
            background: var(--white-dark-color);
            background-repeat: no-repeat;
            background-position: center;
            background-size:70px 70px;
            margin-bottom: 30px;
        }
        &:nth-child(1)::before {
            background-image: url("../image/raster-image/section3_achievement/antenna1.png");
        }
        &:nth-child(2)::before {
            background-image: url("../image/raster-image/section3_achievement/clock1.png");
        }
        &:nth-child(3)::before {
            background-image: url("../image/raster-image/section3_achievement/diagram1.png");
        }
        &:nth-child(4)::before {
            background-image: url("../image/raster-image/section3_achievement/astronaut1.png");
        }
        &-title {
            color: var(--black-standard-color_text);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.42px;
            text-transform: uppercase;
        }
        &-paragraf {
            width: 270px;
            color: var(--gray-dark-color_text);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.42px;
        }
    }
}
