.team {
    margin: 0;
    padding: 94px 0;
    background: var(--white-dark-color);
    &__content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: safe;
        gap: 50px;
    }
    &__title {
        color: var(--black-standard-color_text);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
    }
    &__info{
        &-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
        }
        &-element {
            box-sizing: content-box;
            width: 270px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding-bottom: 30px;
            border-radius: 0px 0px 4px 4px;
            background: var(--white-standard-color);
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            &:hover {
                transform: scale(1.1);
                transition: all 0.2s linear;
            } 
        }
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
        }
    }
    &__image {
        width: 270px;
        height: 260px;
        flex-shrink: 0;
    }
    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    &__name {
        color: var(--black-standard-color_text);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }
    &__paragraf {
        color: var(--gray-dark-color_text);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
    }
    &__social-networks-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}