.user {
    margin: 0;
    padding: 94px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: safe;
        gap: 50px;
    }
    &__title {
        color: var(--black-standard-color_text);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
    }
    &__link:hover {
        transform: scale(1.2);
        transition: all 0.2s linear;
    }
    &__company-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}