body {
    background: var(--white-standard-color);
    margin:0;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
@import'utils/variables', 'utils/placeholders', 'utils/mixins';
.logo {
    &__image {
        width: 145px;
        height: 31px;
        flex-shrink: 0;
    }
}
/*Section 1 header-console */
@import'components/header-console';
/*Section 1 header-console end */
.main {
    padding: 94px 0;
    @extend %position-center;
    flex-direction: column;
    gap: 50px;
}
/* Section 2 navigtion-console */
@import'components/console';
/* Section 2 navigtion-console end */
/* Section 3 projects */
@import'components/projects-gallery';
/* Section 3 projects end */
.social-networks {
    @include flex(space-between, center);
    gap: 10px;
}
/* Section 4 footer-info */
@import'components/footer-info';
/* Section 4 footer-info end */
// Tablet
@media (max-width: 1024px) {
    .container {
        width: 768px;
    }
    .logo {
        &__image {
            width: 134px;
            height: 28px;
            flex-shrink: 0;
        }
    }
    .main {
        padding: 60px 0;
        @extend %position-center;
        flex-direction: column;
        gap: 30px;
    }
}
// Mobile
@media (max-width: 768px) {
    .container {
        width: 480px;
    }
    .logo {
        &__image {
            width: 134px;
            height: 28px;
            flex-shrink: 0;
        }
    }
}
@media (max-width: 480px) {
    .container {
        width: 270px;
    }
}

